.form-div {
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.form-input {
    padding: 10px;
    border-radius: 10px;
    background-color: #ddd;
    border: 3px solid;
    outline: 3px solid rgb(0, 208, 255);
    border: 3px solid rgb(0, 124, 101);
    outline-offset: 5px;
    box-shadow: 0 0 5px #fff;
    width: 70%;
    font-size: 18px;
}

.form-input:focus {
    border: 3px solid red;
    outline: 3px solid rgb(255, 255, 255);
}

.form-button {
    padding: 10px 15px;
    background-color: #ddd;
    border-radius: 10px;
    border: 3px solid rgb(0, 124, 101);
    outline: 3px solid rgb(0, 208, 255);
    outline-offset: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px #fff;
    font-size: 18px;
}

.form-button:active {
    border: 3px solid red;
    outline: 3px solid rgb(255, 255, 255);
    box-shadow: 0 0 20px red;
}

@media screen and (max-width:480px) {
    h1{
        font-size: 18px;
    }
    form{
        flex-direction: column;
    }
    .form-input{
        padding: 5px;
    }
    .form-input::placeholder{
        font-size: 14px;
    }
    .form-button{
        padding: 5px 10px;
        font-size: 16px;
    }
}