.body{
    width: 70vh;
    min-height: 80vh;
    /* background-color: rgba(6, 6, 62, 0.795); */
    /* background-color: darkslategray; */
    background-image: url(../Img/00.jpg);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 50px white;
    text-align: center;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px white;
    display: inline-block;
    padding: 15px;
    background-color: rgba(4, 4, 68, 0.184);
    text-shadow: 0 0 15px rgb(0, 178, 232);
    border: 1px solid white;
    text-align: center;
}